h3 {
  color: #F9C784;
  margin: auto auto auto 700px;
}

html {
  background-color: #1a1919;
  font-family: sans-serif;

}

h4 {
  color: yellow;
  font-size: 25px;
}

.Intro {
  color: blue;
  margin: auto 900px auto 100px;
  background-color: #212121;
  }

.ITlikes {
  color: green;
  margin: auto auto auto 900px;
  background-color: ;

}

.ITCareer {

}

.Profile {

}

.ProjectIdea {

}
