h3 {
  color: #F9C784;
  margin: auto auto auto 700px;
}

p{
  color: black;
  font-size: 15px;
}

html {
  background-color: white;
  font-family: sans-serif;

}

h5 {
  font-size: 20px;
}

h4 {
  color: yellow;
  font-size: 25px;
}

.Intro {
  margin: auto 50px auto auto;

  }
.duocol{
  float: left;
  width: 50%;
}

.Intro:after {
  content: "";
  display: table;
  clear: both;
}


.ITlikes {
  margin: 80px 50px 50px auto;
}

.ITCareer {
  margin: auto 50px 50px auto;
}

.Profile {
  margin: 100px 50px 50px auto;

}

.ProjectIdea {
  margin: auto 50px 50px auto;
}
